```java
ArrayList<Integer> seen = new ArrayList();
Events.Emitter<Events<Integer>> higherOrder = Events.emitter();
Events.Emitter<Integer> evens = Events.emitter();
Events.Emitter<Integer> odds = Events.emitter();
Events.toMux(higherOrder).onEvent(x -> seen.add(x));

evens.react(2);
odds.react(1);
higherOrder.react(evens);
Assert.assertEquals(new ArrayList(Arrays.asList()), seen);
odds.react(3);
evens.react(4);
Assert.assertEquals(new ArrayList(Arrays.asList(4)), seen);
higherOrder.react(odds);
evens.react(6);
odds.react(5);
Assert.assertEquals(new ArrayList(Arrays.asList(4, 5)), seen);
```

