
<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <meta name="keywords" content="storm enroute, reactive programming, tutorials, guides" />
  <meta name="description" content="Guides for different projects." />
  <link rel="icon" type="image/png" href="/tutorialdocs/resources/images/{{ page.topic }}.ico?v=5"/>
  <link rel="stylesheet" href="/tutorialdocs/resources/js/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/tutorialdocs/resources/styles/proj.css"/>
  <link rel="stylesheet" href="/tutorialdocs/resources/styles/960.css" />
  <link rel="stylesheet" href="/tutorialdocs/resources/styles/font-awesome.min.css"/>
  <link rel="stylesheet" href="/tutorialdocs/resources/styles/hint.min.css"/>
  <link rel="stylesheet" href="/tutorialdocs/resources/js/prettify/prettify2.css">
  <script type="text/javascript" src="/tutorialdocs/resources/js/easeljs-0.7.1.min.js"></script>
  <script type="text/javascript" src="/tutorialdocs/resources/js/tweenjs-0.5.1.min.js"></script>
  <script type="text/javascript" src="/tutorialdocs/resources/js/CSSPlugin.js"></script>
  <script type="text/javascript" src="/tutorialdocs/resources/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/tutorialdocs/resources/js/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  $(function() {
    $('pre').addClass('prettyprint linenums');
  })
  </script>
  <script src="/tutorialdocs/resources/js/prettify/prettify.js"></script>
  <script src="/tutorialdocs/resources/js/prettify/lang-scala.js"></script>
  <script src="/tutorialdocs/resources/js/markdown.min.js"></script>
</head>

{{ content }}

</html>
